body {
    background-color: lavender;
}
div {
    background-color: lavender;
  }
img {
    border-radius: 8px;
}
h1 {text-align: center;}
h2 {text-align: center;}
h3 {background-color: lightgray}
li{line-height: 2.0;}